<nav class="navbar bg-white border-bottom sticky-top" style="margin-left: 0px;">
    <div class="container-fluid">
      <a class="navbar-brand text-black fw-bold fs-4" href="#">
        <!-- <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top"> -->
        <b><strong><a class="fs-3" href="/aarogyam" style="text-decoration: none; color: #0d9488;">Aarogyam</a></strong></b>
      </a>
    </div>
</nav>
